
{% extends 'base.html.twig' %}

{% block title %}
    Create new article
    
{% endblock %}

{% block body %}

  
    <div class="container">
        <h1 class="m-3">
            Modify article
                    
        </h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            <div class="form-error">
                {{ form_errors(form.description) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
            <div class="form-error">
                {{ form_errors(form.price) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.nombresAvailable) }}
            {{ form_widget(form.nombresAvailable) }}
            <div class="form-error">
                {{ form_errors(form.nombresAvailable) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            <div class="form-error">
            {{ form_errors(form.category) }}
             </div>
        </div>
        
        <div class="form-group">
             {{ form_row(form.submit) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
